asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.7
idna==3.10
omise==0.15.0
pillow==11.1.0
requests==2.32.3
setuptools==78.1.0
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
gunicorn==21.2.0
whitenoise==6.6.0
psycopg2-binary==2.9.9