{% extends 'app/base.html' %}
{% load static %}
{% block title %}
About Us  
{% endblock title %}

{% block main-content %}
    <section class="relative">
        <div class="w-full max-w-7xl px-4 mt-6 mb-12 md:px-5 lg:px-5 mx-auto">
            <div class="w-full justify-start items-center gap-8 grid lg:grid-cols-2 grid-cols-1">
                <div class="w-full flex-col justify-start lg:items-start items-center gap-10 inline-flex">
                    <div class="w-full flex-col justify-start lg:items-start items-center gap-4 flex">
                        <h2 class="text-gray-900 text-3xl font-bold font-manrope leading-normal lg:text-start text-center">ยินดีต้อนรับสู่ Picky Pony แหล่งรวบรวมเสื้อผ้าแฟชั่น สไตล์ และเทรนด์ใหม่ ๆ</h2>
                        <p class="text-gray-500 text-base font-normal leading-relaxed lg:text-start text-center">เราไม่ใช่แค่ร้านค้าออนไลน์ แต่เป็นแบรนด์ที่มุ่งมั่นช่วยให้คุณแสดงตัวตนผ่านแฟชั่น ไม่ว่าคุณจะมองหาสไตล์ล้ำสมัย 
                            ไอเท็มคลาสสิก หรือเสื้อผ้าที่โดดเด่น เรามีให้คุณเลือกสรรด้วยคุณภาพที่ดีและดีไซน์ที่สวยงามสำหรับทุกโอกาส
                        </p>
                        <p class="text-gray-500 text-base font-normal leading-relaxed lg:text-start text-center">ที่ Picky Pony เราเชื่อว่าแฟชั่นคือการแสดงออกถึงตัวตน เราคัดสรรสินค้าคุณภาพที่ช่วยให้คุณมั่นใจ สวมใส่สบาย และดูดีได้อย่างเป็นธรรมชาติ เราอัปเดตเทรนด์ใหม่ ๆ อยู่เสมอ เพื่อให้คุณเข้าถึงสไตล์ที่ทันสมัยในราคาที่เหมาะสม
                        </p>
                    </div>
                    <a href="{% url 'index' %}" class="sm:w-fit w-full px-3.5 py-2 transition-all duration-700 ease-in-out rounded-lg justify-center items-center flex main-button">
                        <span class="px-1.5 text-white text-sm font-medium leading-6">เริ่มต้นเลย</span>
                    </a>
                </div>
                <img class="lg:mx-0 mx-auto h-full rounded-3xl object-cover" src="{% static 'images/pinklogo.png' %}" alt="about Us image" />
            </div>
        </div>
    </section>
                                        
{% endblock main-content %}