{% extends 'app/base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block main-content %}


<div class="mt-4 bg-white max-w-2xl mx-auto shadow shadow-xl overflow-hidden sm:rounded-lg mb-24">
    <div class="">
        <h3 class="flex justify-center mt-2 text-xl">ตั้งค่าที่อยู่</h3>
        <a href="{% url 'profile' %}" class="flex mt-6 mr-6 justify-end" style="text-decoration: underline;">ไปยังโปรไฟล์</a>
    </div>
    <form method="post" class="max-w-sm mx-auto">
        {% csrf_token %}
        {% for fm in form %}
        <div class="mb-5">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ fm.label_tag }}</label>
          {{ fm }}
          <small class="text-red-700">{{ fm.errors|striptags }}</small> <br>
        </div>
        {% endfor %}
        <div class="flex justify-center">
            <button type="submit" class="text-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 mb-6 text-center main-button">บันทึก</button>
        </div>

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="bg-red-100 border border-red-400 px-4 py-3 rounded relative" role="alert">
                    <p class="text-red-700 my-3">{{ error }}</p>
                </div>
            {% endfor %}
        {% endif %}
    
        {% if messages %}
            {% for msg in messages %}
                <div class="mt-4 p-2 mb-4 rounded relative {% if msg.tags == 'success' %} bg-green-100 text-green-700 {% elif msg.tags == 'error' %} bg-red-100 text-red-700 {% endif %}" role="alert">
                    {{ msg }}
                </div>
            {% endfor %}
        {% endif %}
    
    </form>
</div>
  
{% endblock main-content %}