{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="text/javascript" src="https://cdn.omise.co/omise.js"></script>
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  rel="stylesheet"/>
  <title>Picky Pony | {% block title %}{% endblock title %}</title>

  <style>
    .main-button {
      background-color: #EB4E91;
  }
  
  .main-button:hover {
      background-color: #cd2970;
  }
  
  </style>
</head>

<body class="min-h-screen flex flex-col">
  <header>
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="\" class="flex items-center space-x-3 rtl:space-x-reverse" style="outline: none; box-shadow: none;">
          <img src="{% static 'images/whitelogo.png' %}" class="h-24" alt="Flowbite Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
  
        <div class="justify-between hidden w-full md:flex md:w-auto md:order-1 ">
          {% if request.user.is_authenticated %}
          <form class="flex" action="/search">
            <div class="relative hidden md:block">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
                <span class="sr-only">Search icon</span>
              </div>
              <input type="search" name="search" 
                class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="ค้นหา..." />
            </div>
            <button type="submit" class="p-2 ml-1.5 text-gray-600 hover:text-gray-900">ค้นหา</button>
          </form>
          {% endif %}
  
          <ul
            class="flex flex-col items-center mx-8 p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            {% if request.user.is_authenticated %}
            <li>
              <a href="/"
                class="block py-2 px-3 text-gray-600 rounded-sm md:bg-transparent md:p-0 hover:text-gray-900" >หน้าหลัก</a>
            </li>
  
            <li class="relative">
              <button onclick="openShop()"
                class="flex items-center justify-between w-full py-2 px-3 text-gray-600 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto hover:text-gray-900">
                หมวดหมู่
                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 4 4 4-4" />
                </svg>
              </button>
              <div id="dropdownNavbar"
                class="shop-btn z-10 hidden absolute top-full left-0 mt-2 w-48 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-lg  dark:bg-gray-700 dark:divide-gray-600">
                <ul id="shopDropdown" class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="{% url 'category' 'S' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">เสื้อเชิ้ต</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'SU' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">ชุดสูท</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'T' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">เสื้อ</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'D' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">เดรส</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'J' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">กางเกงยีนส์</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'SK' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">กระโปรง</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'SW' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">ชุดว่ายน้ำ</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'B' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">เบลเซอร์</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'JK' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">แจ็คเก็ต</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'H' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">เสื้อฮู้ด</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'SO' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">ถุงเท้า</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'HA' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">เครื่องประดับผม</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'SC' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">ผ้าพันคอ</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'H' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">หมวก</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'BE' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">เข็มขัด</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'SG' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">แว่นกันแดด</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'BA' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">กระเป๋า</a>
                  </li>
                </ul>
              </div>
            </li>
  
            <li>
              <a href="{% url 'about_us' %}"
                class="block py-2 px-3 text-gray-600 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:p-0 hover:text-gray-900">เกี่ยวกับเรา</a>
            </li>
            <li>
              <a href="{% url 'show-cart' %}"
                class="flex items-center gap-1 py-2 px-3 text-gray-600 rounded-sm hover:bg-gray-100 md:hover:bg-transparent hover:text-gray-900 md:p-0">ตะกร้า {% if total_item > 0 %}<span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-red-600 rounded-full">
                  {{ total_item }}</span>{% endif %}</a>
            </li>
            <!-- <li>
              <a href="{% url 'show-wishlist' %}"
                class="flex items-center gap-1 py-2 px-3 text-gray-600 rounded-sm hover:bg-gray-100 md:hover:bg-transparent hover:text-gray-900 md:p-0">สิ่งที่อยากได้ {% if total_wishlist > 0 %}<span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-red-600 rounded-full">
                  {{ total_wishlist }}</span>{% endif %}</a>
            </li> -->
            {% else %}
            <li>
              <a href="{% url 'register' %}"
                class="block py-2 px-3 text-gray-600 rounded-sm hover:bg-gray-100 md:hover:bg-transparent hover:text-gray-900 md:p-0">สร้างบัญชี</a>
            </li>
            <li>
              <a href="{% url 'login' %}"
                class="block py-2 px-3 text-gray-600 rounded-sm hover:bg-gray-100 hover:text-gray-900 md:p-0">เข้าสู่ระบบ</a>
            </li>
            {% endif %}
          {% if request.user.is_authenticated %}
          <div class="profile-btn relative flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button onclick="openProfile()" type="button" 
              class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
             data-dropdown-placement="bottom">
              <span class="sr-only">Open user menu</span>
              <img class="w-8 h-8 rounded-full" src="{% static 'images/pinklogo.png' %}" alt="user photo" />
            </button>
            <!-- Dropdown menu -->
            <div id="user-profile-dropdown"
              class="z-50 hidden absolute top-full left-0 mt-2 w-48 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-lg dark:bg-gray-700 dark:divide-gray-600">
              
              <div class="px-4 py-3">
                <span class="block text-sm text-gray-900 dark:text-white">{{ user.username }}</span>
                <span class="block text-sm text-gray-500 truncate dark:text-gray-400">{{ user.email }}</span>
              </div>
              
              <ul class="py-2" aria-labelledby="user-menu-button">
                <li>
                  <a href="{% url 'profile' %}"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">โปรไฟล์</a>
                </li>
                <li>
                  <a href="{% url 'orders' %}"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">การสั่งซื้อ</a>
                </li>
                <li>
                  <a href="{% url 'show-cart' %}"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">ตะกร้า
                    {% if total_item > 0 %}<span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-red-600 rounded-full">
                    {{ total_item }}</span>{% endif %}
                  </a>
                </li>
                <li>
                  <a href="{% url 'show-wishlist' %}"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">รายการสิ่งที่อยากได้
                    {% if total_wishlist > 0 %}<span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-red-600 rounded-full">
                    {{ total_wishlist }}</span>{% endif %}
                  </a>
                </li>
                <li>
                  <form method="post" action="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                    {% csrf_token %}
                    <button class="">
                      ออกจากระบบ
                    </button>
                  </form>
                </li>
              </ul>
            </div>
          </div>
          {% endif %}
  
        </div>
  
      </div>
    </nav>
  </header>

  <main>
    {% block carousel %}{% endblock carousel %}
    {% block main-content %} {% endblock main-content %}
    {% block payment-gateway %}{% endblock payment-gateway %}
  </main>


  <footer class="bg-black text-white shadow-sm w-full mt-4 fixed bottom-0 px-4 ">
    <div class="mx-auto p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center">
        © 2025 || Developed By : Apinya
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
              <a href="{% url 'about_us' %}" class="hover:underline me-4 md:me-6">About Us</a>
          </li>
          <li>
              <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
          </li>
          <li>
              <a href="{% url 'contact' %}" class="hover:underline">Contact</a>
          </li>
      </ul>
    </div>
  </footer>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'js/base.js' %}"></script>
</body>

</html>


